<html>
  <body>
    <div class="container">
      <div class="todo-app">
        <div class="app-title">
          <h2>To-do app</h2>
          <fa-icon [icon]="faPen"></fa-icon>
        </div>

        <app-form (taskAdded)="onTaskAdded($event)"></app-form>

        <app-list
          [tasks]="tasks"
          (changeTasksOnDelete)="removeTaskByIndex($event)"
          (updatedTasksOnDelete)="updateTaskByIndex($event)"
        ></app-list>
      </div>
    </div>
  </body>
  <html></html>
</html>
